apiVersion: apps/v1
kind: Deployment
metadata:
  name: chirpstack-webhook
  labels:
    app: chirpstack-webhook
spec:
  replicas: 1
  selector:
    matchLabels:
      app: chirpstack-webhook
  template:
    metadata:
      labels:
        app: chirpstack-webhook
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "webapp"
        vault.hashicorp.com/auth-path: "auth/kubernetes-rriv"
        vault.hashicorp.com/agent-inject-secret-credentials.txt: "secret/data/dev-timescale-creds"
        vault.hashicorp.com/agent-inject-template-credentials: |
          {{ with secret "secret/data/dev-timescale-creds" }}
          export DATABASE_URL="{{ .Data.data.database_url }}"
          {{ end }}
    spec:
      serviceAccountName: internal-app
      imagePullSecrets:
        - name: registry-rriv
      containers:
        - name: chirpstack-webhook
          command: ["/bin/sh", "-c"]
          args:
            - |
              timeout=20
              elapsed=0
              while [ ! -f /vault/secrets/credentials ]; do
                if [ $elapsed -ge $timeout ]; then
                  echo "Timeout waiting for Vault to inject secrets"
                  exit 1
                fi
                echo "Waiting for Vault to inject secrets..."
                sleep 2
                elapsed=$((elapsed + 2))
              done
              echo "Vault secrets injected"
              . /vault/secrets/credentials
              echo "starting service"
              #while :; do echo 'Hit CTRL+C'; sleep 1; done # go forever
              npm start
          image: registry.digitalocean.com/rriv/chirpstack-webhook:latest
          ports:
            - containerPort: 3006
